body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ddd;
    color: black;
    align-items: center;
    text-align: center;
}

.container {
    width: 60%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #000000;
}

.post {
    background-color: #f9f9f9;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

.footer {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.escrita1 {
    align-items:center ;
    text-align: center;

}
